In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../train/train_三瓦窑.csv")

In [4]:
data

,MN_,DATA_TIME_,C_SO2_1H,I_SO2_1H,C_NO2_1H,I_NO2_1H,C_PM10_1H,C_PM10_24H_MV,I_PM10_24H_MV,C_CO1_1H,...,C_PM25_24H_MV,I_PM25_24H_MV,AQI_,PRIMARY_POLLUTANTS_,LEVEL_,CATEGORY_,COLOR_,STATE_,SOURCE_,UPDATE_TIME_
0,51010901001,2017/1/1 01:00:00,33.0,11.0,126.0,63.0,279.0,NaN,165.0,1.875,...,NaN,227.0,227.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/1/1 02:15:00
1,51010901001,2017/1/1 02:00:00,34.0,12.0,125.0,63.0,302.0,NaN,176.0,1.997,...,NaN,235.0,235.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/1/1 03:15:00
2,51010901001,2017/1/1 03:00:00,32.0,11.0,121.0,61.0,308.0,NaN,179.0,1.952,...,NaN,275.0,275.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/1/1 04:15:00
3,51010901001,2017/1/1 04:00:00,36.0,12.0,118.0,59.0,366.0,NaN,223.0,1.878,...,NaN,276.0,276.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/1/1 05:15:00
4,51010901001,2017/1/1 05:00:00,37.0,13.0,110.0,55.0,394.0,NaN,263.0,1.833,...,NaN,271.0,271.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/1/1 06:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8375,51010901001,2017/12/24 19:00:00,7.0,3.0,119.0,60.0,219.0,NaN,135.0,1.167,...,NaN,212.0,212.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/12/24 19:40:00
8376,51010901001,2017/12/24 20:00:00,6.0,2.0,131.0,66.0,223.0,NaN,137.0,1.229,...,NaN,215.0,215.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/12/24 20:20:00
8377,51010901001,2017/12/24 21:00:00,5.0,2.0,133.0,67.0,223.0,NaN,137.0,1.360,...,NaN,218.0,218.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/12/24 21:20:00
8378,51010901001,2017/12/24 22:00:00,8.0,3.0,137.0,69.0,243.0,NaN,147.0,1.692,...,NaN,233.0,233.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/12/24 23:00:00
8379,51010901001,2017/12/24 23:00:00,12.0,4.0,125.0,63.0,247.0,NaN,149.0,2.088,...,NaN,237.0,237.0,PM2.5,五级,重度污染,紫色,正常,NaN,2017/12/24 23:20:00

In [6]:
Y=data['AQI_']

In [75]:
X=data.drop(['UPDATE_TIME_','DATA_TIME_','MN_','SOURCE_','AQI_'],axis=1)

In [76]:
X.columns=range(21)

In [121]:
X

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,33.0,11.0,126.0,63.0,279.0,NaN,165.0,1.875,19.0,11.0,4.0,NaN,NaN,177.0,NaN,227.0,PM2.5,5.0
1,34.0,12.0,125.0,63.0,302.0,NaN,176.0,1.997,20.0,11.0,4.0,NaN,NaN,185.0,NaN,235.0,PM2.5,5.0
2,32.0,11.0,121.0,61.0,308.0,NaN,179.0,1.952,20.0,11.0,4.0,NaN,NaN,225.0,NaN,275.0,PM2.5,5.0
3,36.0,12.0,118.0,59.0,366.0,NaN,223.0,1.878,19.0,10.0,4.0,NaN,NaN,226.0,NaN,276.0,PM2.5,5.0
4,37.0,13.0,110.0,55.0,394.0,NaN,263.0,1.833,19.0,10.0,4.0,NaN,NaN,221.0,NaN,271.0,PM2.5,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8375,7.0,3.0,119.0,60.0,219.0,NaN,135.0,1.167,12.0,43.0,14.0,NaN,NaN,162.0,NaN,212.0,PM2.5,5.0
8376,6.0,2.0,131.0,66.0,223.0,NaN,137.0,1.229,13.0,30.0,10.0,NaN,NaN,165.0,NaN,215.0,PM2.5,5.0
8377,5.0,2.0,133.0,67.0,223.0,NaN,137.0,1.360,14.0,20.0,7.0,NaN,NaN,168.0,NaN,218.0,PM2.5,5.0
8378,8.0,3.0,137.0,69.0,243.0,NaN,147.0,1.692,17.0,6.0,2.0,NaN,NaN,183.0,NaN,233.0,PM2.5,5.0
8379,12.0,4.0,125.0,63.0,247.0,NaN,149.0,2.088,21.0,5.0,2.0,NaN,NaN,187.0,NaN,237.0,PM2.5,5.0

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =train_test_split(X, Y,test_size=0.2)

In [78]:
LEVEL_mapping = {
    '六级': 6,
    '五级': 5,      
    '四级': 4,
    '三级': 3,
    '二级': 2,
    '一级': 1}

In [79]:
X[17]=X[17].map(LEVEL_mapping)

In [80]:
X[17].drop_duplicates()

0       5.0
16      4.0
40      3.0
83      6.0
151     2.0
210     1.0
1046    NaN
Name: 17, dtype: float64

In [81]:
CATEGORY_mapping={
        '严重污染': 6,
    '重度污染': 5,      
    '中度污染': 4,
    '轻度污染': 3,
    '良': 2,
    '优': 1
}

In [82]:
X[18]=X[18].map(CATEGORY_mapping)

In [83]:
X[18].drop_duplicates(keep='first')

0       5.0
16      4.0
40      3.0
83      6.0
151     2.0
210     1.0
1046    NaN
Name: 18, dtype: float64

In [39]:
X[16].drop_duplicates()

0              PM2.5
85              PM10
157       PM10,PM2.5
210                -
1046             NaN
1728             NO2
1886          O3-1小时
2479        NO2,PM10
2563     PM10,O3-1小时
4862    O3-1小时,PM2.5
8055       NO2,PM2.5
Name: 16, dtype: object

In [40]:
X[20].drop_duplicates()

0    正常
Name: 20, dtype: object

In [ ]:
df.equals(exactly_equal)

In [118]:
X=X.drop([18],axis=1)

In [ ]:
X[14][X[14]=='saf']

In [119]:
X.shape

(8380, 18)

In [120]:
X[17]

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
8375    5.0
8376    5.0
8377    5.0
8378    5.0
8379    5.0
Name: 17, Length: 8380, dtype: float64

In [123]:
X

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,33.0,11.0,126.0,63.0,279.0,NaN,165.0,1.875,19.0,11.0,4.0,NaN,NaN,177.0,NaN,227.0,PM2.5,5.0
1,34.0,12.0,125.0,63.0,302.0,NaN,176.0,1.997,20.0,11.0,4.0,NaN,NaN,185.0,NaN,235.0,PM2.5,5.0
2,32.0,11.0,121.0,61.0,308.0,NaN,179.0,1.952,20.0,11.0,4.0,NaN,NaN,225.0,NaN,275.0,PM2.5,5.0
3,36.0,12.0,118.0,59.0,366.0,NaN,223.0,1.878,19.0,10.0,4.0,NaN,NaN,226.0,NaN,276.0,PM2.5,5.0
4,37.0,13.0,110.0,55.0,394.0,NaN,263.0,1.833,19.0,10.0,4.0,NaN,NaN,221.0,NaN,271.0,PM2.5,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8375,7.0,3.0,119.0,60.0,219.0,NaN,135.0,1.167,12.0,43.0,14.0,NaN,NaN,162.0,NaN,212.0,PM2.5,5.0
8376,6.0,2.0,131.0,66.0,223.0,NaN,137.0,1.229,13.0,30.0,10.0,NaN,NaN,165.0,NaN,215.0,PM2.5,5.0
8377,5.0,2.0,133.0,67.0,223.0,NaN,137.0,1.360,14.0,20.0,7.0,NaN,NaN,168.0,NaN,218.0,PM2.5,5.0
8378,8.0,3.0,137.0,69.0,243.0,NaN,147.0,1.692,17.0,6.0,2.0,NaN,NaN,183.0,NaN,233.0,PM2.5,5.0
8379,12.0,4.0,125.0,63.0,247.0,NaN,149.0,2.088,21.0,5.0,2.0,NaN,NaN,187.0,NaN,237.0,PM2.5,5.0

In [125]:
XX=pd.get_dummies(X)

In [128]:
XX

,0,1,2,3,4,5,6,7,8,9,...,16_-,16_NO2,"16_NO2,PM10","16_NO2,PM2.5",16_O3-1小时,"16_O3-1小时,PM2.5",16_PM10,"16_PM10,O3-1小时","16_PM10,PM2.5",16_PM2.5
0,33.0,11.0,126.0,63.0,279.0,NaN,165.0,1.875,19.0,11.0,...,0,0,0,0,0,0,0,0,0,1
1,34.0,12.0,125.0,63.0,302.0,NaN,176.0,1.997,20.0,11.0,...,0,0,0,0,0,0,0,0,0,1
2,32.0,11.0,121.0,61.0,308.0,NaN,179.0,1.952,20.0,11.0,...,0,0,0,0,0,0,0,0,0,1
3,36.0,12.0,118.0,59.0,366.0,NaN,223.0,1.878,19.0,10.0,...,0,0,0,0,0,0,0,0,0,1
4,37.0,13.0,110.0,55.0,394.0,NaN,263.0,1.833,19.0,10.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8375,7.0,3.0,119.0,60.0,219.0,NaN,135.0,1.167,12.0,43.0,...,0,0,0,0,0,0,0,0,0,1
8376,6.0,2.0,131.0,66.0,223.0,NaN,137.0,1.229,13.0,30.0,...,0,0,0,0,0,0,0,0,0,1
8377,5.0,2.0,133.0,67.0,223.0,NaN,137.0,1.360,14.0,20.0,...,0,0,0,0,0,0,0,0,0,1
8378,8.0,3.0,137.0,69.0,243.0,NaN,147.0,1.692,17.0,6.0,...,0,0,0,0,0,0,0,0,0,1
8379,12.0,4.0,125.0,63.0,247.0,NaN,149.0,2.088,21.0,5.0,...,0,0,0,0,0,0,0,0,0,1

In [129]:
XX.shape

(8380, 27)

In [130]:
X.shape

(8380, 18)